
<!doctype html>
<html>
<head>
  <title>Brain-off</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <%= for {title, link} <- navbar do %>
        <li class="nav-item">
          <a class="nav-link" href="<%= link %>"><%= title %></a>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>

  <main class="p-2" role="main" class="container-fluid">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <%= for {title, link} <- titels_href do %>
          <li class="list-group-item"><a href="<%= link %>"><%= title %></a></li>
        <% end %>
      </ul>
    </div>
  </main>

  <footer class="p-2">
  <p>
  Genereted <%= DateTime.utc_now |> DateTime.to_string %>
  </p>
  </footer>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
