<!doctype html>
<html>
<head>
  <title>Brain-off</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="img/favicon_io/site.webmanifest">
</head>
<body class="bg-light">
  <div class="container">

    <div class="py-2 text-center">
      <ul class="nav nav-pills nav-fill">
        <%= for {title, link} <- navbar do %>
          <li class="nav-item m-2 border border-primary rounded">
            <a class="nav-link" href="<%= link %>" target="_blank"><%= title %></a>
          </li>
        <% end %>
      </ul>
    </div>

  <div class="row">

    <!-- card how-tos-->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          How-To articles
        </div>
        <ul class="list-group list-group-flush">
            <%= for {title, link} <- titels_href do %>
              <li class="list-group-item"><a href="<%= link %>"><%= title %></a></li>
            <% end %>
        </ul>
      </div>
    </div>

    <!-- card dailys-->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Daily
        </div>
        <ul class="list-group list-group-flush">
          <%= for {title, link} <- daily_links do %>
          <li class="list-group-item"><a target="_blank" href="<%= link %>"><%= title %></a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- card copy items -->
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Copy
        </div>
        <ul class="list-group list-group-flush">
          <%= for %{"id" => id, "name" => name, "is_hidden" => is_hidden, "text" => text } <- copy_buttons do %>
            <li class="list-group-item">
              <%= if is_hidden do %>
              <p>
                <!-- hidden text is embedded within the button-->
                <button class="btn btn-xs btn-info" data-clipboard-text="<%= text %>">
                  <img src="img/clipboard.svg" alt="Copy" width="24px" height="24px">
                  <span class="sm"><%= name %></span>
                </button>
              </p>
              <% else %>
              <p>
                <button class="btn btn-xs btn-warning" data-clipboard-target="#<%= id %>">
                  <img src="img/clipboard.svg" alt="Copy" width="24px" height="24px">
                  <span class="sm"><%= name %></span>
                </button>
                <span id="<%= id %>" value="<%= text %>"><%= text %></span>
              </p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- end row -->

    <footer class="my-5 bg-primary p-2 border border-light rounded" style="--bs-bg-opacity: .1;">
      <div class="fs-6 text-muted text-left text-small">
        <p><a href="https://www.flaticon.com/free-icons/think" title="think icons">Think icons created by Freepik - Flaticon</a></p>
        <p class="mb-1">Genereted <%= DateTime.utc_now |> DateTime.to_string %></p>
      </div>
    </footer>

  </div><!-- body container-->

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/clipboard.min.js"></script>
  <script>
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function (e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
    });

    clipboard.on('error', function (e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
    });
  </script>
</body>
</html>
