
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Brain-off</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/uikit.min.css" />
  <link rel="stylesheet" href="css/app.css" />
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
</head>
<body>
  <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="uk-parent"><a href="index.html">Back to main</a></li>
        </ul>
      </div>
  </nav>
  <main role="main" class="grow flex flex-col h-screen">
    <%= page_content %>
  </main>
  <footer>
  Genereted <!-- <% DateTime.utc_now |> DateTime.to_string %>= -->
  </footer>
</body>
</html>
