.container {
    max-width: 960px;
}


/* the temporary text area created for copying to clipboard
has an offset out of the main view in case the creation and destruction
show white flashings */

textarea .copy-txt-area {
    position: absolute;
    left: -100%;
}

button .copy-button {
    position: absolute;
    top: .65rem;
    right: .65rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: .65em;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid;
    border-radius: .25rem;
}